<%- include("header"); -%>
<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Mo.Co.</h1>
    <p class="lead">Service matching platfrom</p>
  </div>
</main>
<%- include("footer"); -%>
