<%- include("header"); -%>
<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Authentication Play Ground</h1>
    <p class="lead"> From md5, Bcrypt to Passport, Cookies and Session.</p>
    <p><%- loggedout %></p>
  </div>

</main><!-- /.container -->
<%- include("footer"); -%>
