<%- include("header"); -%>

<section class="colored-section" id="title">
  <div class="container mb-4">
    <div class="row">

      <div class="col-md-6 welcome-text">
        <h1 class="big-heading">Service Mo.Co.</h1>
        <p>The Platform for Motivation and Corporation</p>
        <span><h6 class="text-muted">alpha ver.0.0.1</h6></span>
        <a href="/activeposting" role="button" class="mt-1 btn btn-outline-primary btn-lg download-button">Start Now</a>
        <a href="/register" role="button" class="mt-1 btn btn-primary btn-lg download-button">Register</a>
      </div>

      <div class="col-md-6">
        <img class="ml-5 mx-auto d-block title-image " src="icons/moco_iphone.png" alt="iphone-mockup">
      </div>
    </div>
  </div>
</section>


<!-- Features -->

<section class="white-section" id="features">
  <div class="container mb-4">
    <div class="row">
      <div class="feature-box col-lg-4 col-md-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Aim for Success</h3>
        <p>You got some skills? List it, Show it!</p>
      </div>

      <div class="feature-box col-lg-4 col-md-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Friendly Community</h3>
        <p>Everyone can be a part of your team!</p>
      </div>

      <div class="feature-box col-lg-4 col-md-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Easy to use.</h3>
        <p>List your service in few clicks! Try it!</p>
      </div>
    </div>
  </div>
</section>
<%- include("footer"); -%>
