<%- include("header"); -%>
<body class="text-center">

  <main class="form-signin">
    <form class="" action="/login" method="post">
      <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <label for="inputEmail" class="visually-hidden">Email address</label>
      <input type="email" id="inputEmail" name="username" class="form-control login-email" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="visually-hidden">Password</label>
      <input type="password" id="inputPassword login-pwd" name="password" class="form-control" placeholder="Password" required>
      <p class="warn-text"><%= userAlreadyExisted %></p>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="remember" value="remember"> Remember me
        </label>
      </div>

      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Sign in</button>
            <hr>
            <!-- Google Sign in -->
            <a class="w-100 btn btn-lg btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a>
            <!-- GitHub Sign in -->
            <a class="mt-2 w-100 btn btn-lg btn-social btn-github" href="/auth/github" role="button">
              <i class="fab fa-github"></i>
              Sign In with GitHub
            </a>
        </div>
      </div>
    </form>
  </main>
<%- include("footer"); -%>
