<%- include("header"); -%>
<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Page does not exist.</h1>
    <p class="lead">The page you are looking for is not a part of this site.</p>
  </div>
</main>
<%- include("footer"); -%>
