<%- include("header"); -%>
<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>This page is freaking proctected</h1>
    <p class="lead">Wo ah!, it works.</p>
  </div>

</main><!-- /.container -->
<%- include("footer"); -%>
