<%- include("header"); -%>
<main class="container">

  <div class="starter-template text-center py-5 px-3">
    <h1>Server Error x_x</h1>
    <p class="lead">Something went wrong at our servers...</p>
  </div>
</main>
<%- include("footer"); -%>
