<%- include("header"); -%>
  <body class="text-center">

<main class="form-setting">
  <form class="" action="/settings" method="post">
    <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Change your password</h1>
    <label for="inputPassword" class="visually-hidden">oldPassword</label>
    <input type="password" id="inputPassword" name="oldPassword" class="form-control update-pwd-top" placeholder="Current password" required>
    <label for="inputPassword" class="visually-hidden">newPassword</label>
    <input type="password" id="inputPassword" name="newPassword" class="form-control update-pwd-mid" placeholder="New password" required>
    <label for="inputPassword" class="visually-hidden">confrimPassword</label>
    <input type="password" id="inputPassword" name="confirmPswd" class="form-control update-pwd-bot" placeholder="Confirm password" required>
    <p class="warn-text" ><%= userAlreadyExisted %></p>
    <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Update</button>
    <p class="mt-5 mb-3 text-muted">&copy; Johnnie Kwok@MoCo 2021</p>
  </form>
</main>
<%- include("footer"); -%>
